/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2018, 12:51:21 PM
    Author     : WindowS
*/

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    font-family: Arial;
}
form {
    width:100%;
}
.container {
    width: 80%;
    flex-direction: column;
}

.heading {
    flex: 2;
}

.heading h1 {
    color: #FFF;
    text-align: center;
}

.board {
    display: flex;
    flex: 7;
}

.table {
    margin: 0 auto;
}
table {
  border-collapse: collapse;
}
table td, table th {
  border: 5px solid white;
}
table tr:first-child th {
  border-top: 0;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.mark {
    width: 120px;
    height: 120px;
    color: #3333ff;
    text-align: center;
    font-size: 80px;
    font-family: Arial;
    /*border: #FFF solid 1px;*/
}

.score {
    margin-top: 40px;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.player {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
.player div:first-child {
    font-size: 20px;
}